{% extends 'base.html' %}

{% block content %}
    <div id="content_wrapper">
        <div id="content">
            <input id="$module_name$" type="hidden" value="{{module_name}}"/>

            <script type="module" src="../Main.js"></script>
            <div id="canvasWrapper">
                <canvas id="testCanvas" width="{{width}}" height="{{height}}"></canvas>
            </div>
            <div class="row justify-content-center">
                <div class="list-group w-25 p-3">
                    <a href="/translated_tasks" class="task_button m-1 w-100">Назад</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}