{% extends 'base.html' %}

{% block content %}
    <div id="content_wrapper">
        <div id="content">
            <div class="row text-align-center">
                <p class="fs-4 text-center">Модули КИО-школы, переведённые с ActionScript на JavaScript</p>
            </div>
            <div class="row justify-content-center">
                <div class="list-group w-25">
                    <a href="/horse_module" class="task_button m-1 w-100">Ход конём</a>
                    <a href="/dijkstra_module" class="task_button m-1 w-100">Алгоритм Дейкстры</a>
                    <a href="/kruskal_module" class="task_button m-1 w-100">Алгоритм Краскала</a>
                    <a href="/huffman_module" class="task_button m-1 w-100">Алгоритм Хаффмана</a>
                    <a href="/matching_module" class="task_button m-1 w-100">Максимальное паросочетание</a>
                    <a href="/euler_module" class="task_button m-1 w-100">Алгоритм Эйлера</a>
<!--                    <a href="/prim_module" class="task_button m-1 w-100">Алгоритм Прима (в разработке)</a>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}