{% extends 'base.html' %}

{% block content %}
    <div id="content_wrapper">
        <div id="content">
            <div class="row text-align-center">
                <p class="fs-4 text-center">В рамках альтернативного экзамена по КиТГ в 1 семестре 2022/2023 учебного года мы переписали следующие модули</p>
            </div>
            <div class="row justify-content-center">
                <div class="list-group w-25">
                    <a href="/horse_module" class="task_button m-1 w-100">Ход конём</a>
                    <a href="/dijkstra_module" class="task_button m-1 w-100">Алгоритм Дейкстры</a>
                    <a href="/kruskal_module" class="task_button m-1 w-100">Алгоритм Краскала</a>
                    <a href="/huffman_module" class="task_button m-1 w-100">Алгоритм Хаффмана</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}